body{
    font-family: Arial, Helvetica, sans-serif;
    background:#e6e6e6;
    text-align:center;
}

h1{
    margin:30px;
}

.container{
    width:700px;
    margin:auto;
    display:grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 70px 150px 150px 70px;
    gap:8px;
}

.container div{
    background:#d3d3d3;
    border:2px solid #888;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
}

.header{
    grid-column:1/4;
    grid-row:1/2;
}

.left-top{
    grid-column:1/2;
    grid-row:2/3;
}

.left-bottom{
    grid-column:1/2;
    grid-row:3/4;
}

.center{
    grid-column:2/3;
    grid-row:2/4;
}

.right{
    grid-column:3/4;
    grid-row:2/4;
}

.footer{
    grid-column:1/4;
    grid-row:4/5;
}
